/* <div class="login_container">
        <div class="outer_container">
          <h2 class="hello_text">Welcome</h2>
          <div class="inner_container">
            <form class="login_form">
              <div class="username">
                <label for="username" class="u_label">Username *</label>
                <input type="text" placeholder="Enter your Username" id="username" name="username" class="input_user">
              </div>
              <div class="password">
                <label for="password" class="p_label">Password *</label>
                <input type="text" placeholder="Enter your Password" id="password" name="password" class="input_pass">
              </div>
              <input type="checkbox" id="checkbox" value="On">
              <label for="checkbox" class="checkbox_label">Remember me</label>
              <button class="login">Login</button>
            </form>
          </div>
          <a href="#" class="f_password">Forgot password?</a>
          <a href="#" class="no_account">Don't have an account?</a>
          </p>
        </div>
      </div> */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.login_container{
    display: flex;
    width: 100vh;
    height: 80vh;
    justify-content: center;
}      
.outer_container{
    background-color: white;
    padding: 10px 15px;
    text-align: center;
    border-radius: 1rem;
}
.inner_container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 5rem 5rem 1.5rem 5rem;

}
.hello_text{
    text-align: center;
    font-size: 2.5rem;
    padding: 5px;
}
.username,.password{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.f_password,.no_account{
    text-decoration: none;
    color: coral;
}
.login{
    width: 100%;
    height: 2rem;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.5rem;
    background-image: url("image/bg-01.webp");    
}
.input_user,.input_pass,.login{
    margin-bottom: 25px;
    
}
.u_label,.p_label{
    margin-bottom: 5px;
    font-size: 18px;
    color: rgb(112, 111, 111);
}
.f_password{
    margin-bottom: 50px;
}
.input_user,.input_pass{
    font-size: 20px;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    /* background-color: gray; */
    border-style: solid;
}
.login{
    margin-top: 20px;
    color: white;
    background-image: linear-gradient(to right,rgb(69, 190, 234),rgb(90, 142, 224),rgb(142, 75, 205),rgb(201, 52, 218));
    font-size: 15px;
    border-radius: 20px;
    border-style: none;
    height: 2.5rem;
}
.login:hover{
    background-image: linear-gradient(to left,rgb(69, 190, 234),rgb(90, 142, 224),rgb(142, 75, 205),rgb(201, 52, 218)); 
}
.checkbox_label{
    color: gray;
}
.input_user:focus,.input_pass:focus{
    background-color: rgba(155, 121, 179, 0.486);
}
